<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>This is the help page for the sample application. Get help at 
	<a href="http://ruby.railstutorial.org/help">Tutorial help page</a>.
	To get help on this sample app go to <a href="http://railstutorial.org/book">
	Rails tutorial book</a>
</p>

